---
import { Image } from "astro:assets";
import logoCircle from "../../assets/logo-circle.png";

const { slide } = Astro.props;
const imageWidth = 224;
---

<article
  class="flex min-h-screen w-full shrink-0 flex-col items-center justify-center bg-gray-800 px-6"
  id={`slide-${slide}`}
  x-intersect.margin.100px.-50%.0px.-50%={`slide = ${slide}`}
  aria-label="Home"
>
  <a
    x-data="{ active: false }"
    class="reveal group relative outline-hidden"
    :class="active && 'active'"
    style={{ width: `${imageWidth}px`, height: `${imageWidth}px` }}
    href="https://github.com/EpicEric"
    rel="me"
    target="_blank"
    x-intersect="active = true"
  >
    <div
      class="absolute inset-0 rounded-full bg-gray-300 transition group-hover:scale-105 group-hover:bg-gray-600 group-hover:not-group-focus:blur-md group-focus:scale-125 group-focus:bg-gray-300"
      aria-hidden="true"
    >
    </div>
    <Image
      width={imageWidth * 1.25}
      height={imageWidth * 1.25}
      loading="eager"
      src={logoCircle}
      alt="Logo"
      class="absolute inset-0 rounded-full transition group-hover:scale-125 group-focus:scale-125 group-focus:ring-8 group-focus:ring-orange-400"
    />
  </a>
  <h1
    class="reveal mt-6 mb-2 text-2xl font-semibold delay-75"
    x-data="{ active: false }"
    :class="active && 'active'"
    x-intersect="active = true"
  >
    Eric Rodrigues Pires
  </h1>
  <p
    class="reveal mt-2 mb-1 font-extralight text-gray-500 delay-150"
    x-data="{ active: false }"
    :class="active && 'active'"
    x-intersect="active = true"
    x-text="lang === 'pt' ? 'ele/dele' : 'he/him'"
  >
    he/him
  </p>
  <p
    class="reveal font-light text-gray-400 delay-225"
    x-text="lang === 'pt' ? 'Programando do Brasil.' : 'Programming from Brazil.'"
    x-data="{ active: false }"
    :class="active && 'active'"
    x-intersect="active = true"
  >
    Programming from Brazil.
  </p>
  <p
    class="reveal mt-1 mb-4 font-light text-gray-400 delay-225"
    x-text="lang === 'pt' ? 'Navegue para a direita para ver meus projetos.' : 'Scroll to the right to view my projects.'"
    x-data="{ active: false }"
    :class="active && 'active'"
    x-intersect="active = true"
  >
    Scroll to the right to view my projects.
  </p>
  <footer
    class="reveal text-sm delay-350"
    x-data="{ active: false }"
    :class="active && 'active'"
    x-intersect="active = true"
  >
    © 2022&mdash;<span x-text="lang === 'pt' ? 'hoje' : 'today'">today</span>
  </footer>
  <div
    class="reveal flex gap-x-2 delay-425"
    x-data="{ active: false }"
    :class="active && 'active'"
    x-intersect="active = true"
  >
    <button
      type="button"
      class="mt-7 flex items-center gap-x-2 bg-gray-300 px-6 font-mono text-orange-900 italic ring-0 transition outline-none hover:scale-110 hover:bg-gray-50 focus:bg-gray-50 focus:ring-4 focus:ring-orange-400"
      @click={`() => {
          if (lang === 'pt') {
            lang = 'en';
          } else {
            lang = 'pt';
          }
          localStorage['lang'] = lang;
        }`}
      :aria-label="lang === 'pt' ? 'Mudar idioma' : 'Change language'"
    >
      <svg
        class="inline size-5"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-languages-icon lucide-languages"
        aria-hidden="true"
        ><path d="m5 8 6 6"></path><path d="m4 14 6-6 2-3"></path><path d="M2 5h12"></path><path d="M7 2h1"></path><path
          d="m22 22-5-10-5 10"></path><path d="M14 18h6"></path></svg
      >
      <span x-text="lang">en</span>
    </button>
    <a
      class="mt-7 flex items-center gap-x-2 bg-gray-300 px-6 font-mono text-orange-900 italic ring-0 transition outline-none hover:scale-110 hover:bg-gray-50 focus:bg-gray-50 focus:ring-4 focus:ring-orange-400"
      :href="lang === 'pt' ? '/CV_pt.pdf' : '/CV_en.pdf'"
      target="_blank"
      aria-label="CV"
    >
      <svg
        class="inline size-5"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-file-user-icon lucide-file-user"
        ><path
          d="M6 22a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h8a2.4 2.4 0 0 1 1.704.706l3.588 3.588A2.4 2.4 0 0 1 20 8v12a2 2 0 0 1-2 2z"
        ></path><path d="M14 2v5a1 1 0 0 0 1 1h5"></path><path d="M16 22a4 4 0 0 0-8 0"></path><circle
          cx="12"
          cy="15"
          r="3"></circle></svg
      >
      <span>CV</span>
    </a>
    <a
      class="mt-7 flex items-center gap-x-2 bg-gray-300 px-6 font-mono text-orange-900 italic ring-0 transition outline-none hover:scale-110 hover:bg-gray-50 focus:bg-gray-50 focus:ring-4 focus:ring-orange-400"
      :href="lang === 'pt' ? 'https://blog.eric.dev.br/pt-BR' : 'https://blog.eric.dev.br'"
      aria-label="Blog"
    >
      <svg
        class="inline size-5"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-message-square-text-icon lucide-message-square-text"
        aria-hidden="true"
        ><path
          d="M22 17a2 2 0 0 1-2 2H6.828a2 2 0 0 0-1.414.586l-2.202 2.202A.71.71 0 0 1 2 21.286V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2z"
        ></path><path d="M7 11h10"></path><path d="M7 15h6"></path><path d="M7 7h8"></path></svg
      >
      <span>Blog</span>
    </a>
  </div>
</article>
